<h2 class="h2-signup">Sign Up</h2>

<div class="main-signUp">  
<div class="signup-container">

  <form action="/auth/signup" method="POST" enctype="multipart/form-data">

    <div class="form-group">        
      <label class="profile-label" for="email">Email:</label>
      <input id="profile-input" type="email" class="form-control" name="email" required="true"/>
    </div>
    <div class="form-group">
      <label class="profile-label" for="name">Username:</label>
      <input id="profile-input" name="username" class="form-control" required="true" />
    </div>

    <div class="profile-label">
      <label class="profile-label" for="password">Password:</label>
      <input id="profile-input" type="password" name="password" class="form-control" required="true"/>
    </div>

    <div class="form-group">
      <label class="profile-label" for="image">Profile image:</label>
      <input id="profile-input" type="file" name="image" class="form-control"/>
      <button class="submit-button" type="submit">Submit</button>
    </div>
    
    

  </form>

  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}
</div>
</div>