<form action="/auth/signup" method="POST" enctype="multipart/form-data">
  <label>
    E-mail:
    <input type="email" name="email" />
  </label>
  <label>
    Username:
    <input type="text" name="username" />
  </label>
  <label>
    Password:
    <input type="password" name="password" />
  </label>

  <hr/>

  <label for="imageUrl">Profile picture:</label>
  <input type="file" name="image" class="form-control" />
  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}