<h1>User profile</h1>

<div>
  <img
    src="{{user.imageUrl}}"
    alt="{{user.username}}"
    style="width: 150px; max-height: 280px"
  />

  <h2>{{user.username}}</h2>

  <button type="submit"><a href="/profile/edit">Add your game tags</a></button>

  <button type="submit"><a href="/profile/delete">Delete</a></button>
</div>