body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-size: 2.5vh;
  background-color: black;
  color: white;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.flex-row-class {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-ul {
  gap: 3rem;
}

.search-bar{
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}




.carousel-inner > .item > img {
  width:640px;
  height:360px;
}
.carousel {
  width:640px;
  height:360px;
}

.carousel-button {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.205);
  color: white;
  border-color: orange;
}

.carousel-button:hover {
  background-color: rgba(255, 166, 0, 0.699);
  color: white;
  border-color: orange;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.carousel-button a {
  color: orange;
}
.carousel-button:hover a {
  color: white;
}

.carousel-item:hover img {
  opacity: 0.3;
}

.carousel-item:hover button {
  opacity: 1;
}