@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-size: 2.5vh;
  background-color: black;
  color: white;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}


.flex-row-class {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid green 1px;
  height: 40px;
  margin-top: -15px;
}

.flex-ul {
  border-bottom: none;
  gap: 1rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 35vw;
}

input {
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  color: green;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

nav button {
  color: red;
}

.carousel-inner img {
  border-radius: 10px;
}
.carousel {
  width: 60vw;
  height: auto;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 10px 10px 50px rgba(104, 101, 101, 0.308);
}

.carousel-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-button:hover {
  border-radius: 5px;
  background-color: black;
  color: white;
  border-color: black;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}
.carousel-button a {
  color: black;
  text-decoration: none;
}
.carousel-button:hover a {
  color: white;
  font-weight: 550;
}

.carousel-item:hover img {
  opacity: 0.3;
}

.carousel-item:hover button {
  opacity: 1;
  align-items: center;
  width: 250px;
  height: 50px;
}

.search-button {
  border-radius: 5px;
  background: transparent;
  color: green;
  border-color: green;
}

.search-button:hover {
  background-color: green;
  text-align: center;
  align-items: center;
  color: black;
  border-color: green;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.logout-button {
  border-radius: 5px;
  background-color: green;
  color: black;
  border-color: green;
  max-height: 50px;
  width: 100px;
}
.save-button {
  border-radius: 5px;
  background-color: green;
  color: black;
  border-color: green;
  max-height: 40px;
  width: 100px;

  margin-top: 270px;
}

.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.205);
  color: green;
  border-color: green;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.tag {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.choose-tag {
  margin-left: 80px;
  margin-top: 30px;
}

.choose-tag:hover {
  color: green;
}
/* Hide the browser's default checkbox */
.tag input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: rgb(0, 0, 0);
  border: green 1px solid;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.tag:hover input ~ .checkmark {
  background-color: green;
}

/* When the checkbox is checked, add a blue background */
.tag input:checked ~ .checkmark {
  background-color: green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.tag input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.tag .checkmark:after {
  left: 14px;
  top: 9px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tag .label {
  border: green 1px solid;
  border-radius: 5px;
  width: 170px;
  padding: 2px 10px;
}

.favorite-games-section {
  margin-top: 45px;
  margin-left: 40px;
  padding: 10px;
}
.favorite-games-section h2 {
  margin: 20px 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 5vw;
}
.games-card {
  text-align: center;
  border: 1px solid green;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  background-color: rgba(255, 255, 255, 0.062);
}

.recomended-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid green;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  background-color: rgba(255, 255, 255, 0.062);
}

.recomended-card a{
  text-decoration: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;

}

.recomended-card a:hover{
  color: green;
}

#game-search {
  width: 480px;
  background: transparent;
  border: green 1px solid;
}

input::placeholder {
  padding-left: 10px;
}

.index-container {
  font-family: "Anton", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.index-container h1 {
  margin: 30px auto 40px;
}

.index-container h3 {
  margin: 30px auto 40px;
}

input {
  color: white;
  padding-left: 10px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  text-align: justify;
  justify-content: center;
  align-content: center;
}

#game-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.game-container p {
  margin-top: 30px;
}

.game-container h1 {
  font-family: "Anton", sans-serif;
}

.edit-container {
  display: flex;
  flex-direction: row;
}
.form-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.tag-two {
  padding-left: 100px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile-label {
  padding-left: 15px;
}

.form-tags {
  display: flex;
  margin: 40px;
  margin-left: 80px;
}

#tags {
  display: flex;
  flex-direction: column;
}

.game-link {
  border: green 1px solid;
  border-radius: 5px;
  text-decoration: none;
  color: green;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.game-link:hover {
  color: black;
  background-color: green;
}

#profile-input {
  width: 250px;
  background: rgba(255, 255, 255, 0.274);
  border: green 1px solid;
  color: white;
  margin: 10px;
}

#profile-input:hover {
  background: rgb(255, 255, 255);
  border: green 1px solid;
  color: green;
}

#fav-button {
  background-image: url("/images/green-heart.png");
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;  
}
#del-button {
  background-image: url("/images/del.png");
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  
}


#web-name {
  display: flex;
  justify-content: center;
  background-color: none;
  border: none;
}

.games-container {
  display: flex;

  flex-wrap: wrap;
  width: 480px;
  height: 425px;

  border-color: green;
  border-radius: 10px;

  color: white;

  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.games-container a {
  text-decoration: none;
  color: white;
}

.border-right {
  border-right: green 1px solid;
  padding: 30px;
  min-height: 60vh;
  background-color: rgba(255, 255, 255, 0.055);
  width: 400px;
}

.tag-container {
  padding: 20px;
  margin-top: 20px;
}

.footer {
  padding-top: 25vh;
  font-size: 10px;
}
.footer h1 {
  border-top: green 2px solid;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  color: gray;
}

.profile-section {
  padding-top: 50px;
  display: flex;
}

.profile-user {
  border-right: green 1px solid;
  padding: 50px;
  padding-top: 70px;
  min-height: 60vh;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.055);
}

.profile-user h2 {
  padding-top: 15px;
}

.profile-button {
  border-radius: 5px;
  background: transparent;
  color: green;
  border-color: green;
  margin-top: 20px;
}
.profile-button a {
  text-decoration: none;
  color: green;
}

.profile-button:hover a {
  color: black;
  font-weight: 400;
}
.profile-button:hover {
  background-color: green;
  text-align: center;
  align-items: center;
  border-color: green;
  border-radius: 5px;
  color: black;
}

.profile-buttons {
}

.row {
  padding-top: 50px;
}

.signup-container{
  display: flex;
  justify-content: center;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.185);
  border-right: green 2px solid;
  min-height: 300px;
  padding: 40px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: -85px;
}
.main-signUp {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.h2-signup{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.user2 {
  margin-right: 10px;
  margin-top: -25px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.submit-button{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background: transparent;
  color: white;
  border-color: white;
  margin-top: 20px;
  font-weight: 100;
}
.submit-button:hover{
  border-radius: 5px;
  background: transparent;
  color: green;
  border-color: green;
  margin-top: 20px;
  font-weight: 100;
}

.recommended{
  padding: 30px;
  padding-left: 80px;
 
}